
#login-page{
  min-height: 100vh;
  background:transparent url('../images/background-image.png') no-repeat fixed center center;
  background-size: cover;
}


/* Main */

main{
  flex: 1;
}
.main{
  padding-top: 8rem;
}
h1{
 font-family: "Inter", sans-serif;
 color: white;
 font-weight: 700;
 letter-spacing:0.2rem;
 margin-bottom: 1rem;
}
main p{
font-family: "Inter", sans-serif;
font-style: italic;
color: white;
letter-spacing: 0.1rem;
margin-bottom: 1.5rem;
}
.login-btn{
  width: 10rem;
}

