.sidebar {
  gap: 2.5rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);;
  width: 18%;
  height: auto;
  padding: 1rem;
  overflow-y: auto;
  position: sticky;
}
.sidebar div a{
  font-weight: 600;
  font-family: "Inter", sans-serif;
  cursor: pointer;
  font-size: 1.1rem;
  width: 100%;
  color: black;
}
.sidebar div a:hover{
  color: #097B48;
  text-decoration: none;
}
@media (max-width: 768px) {
  .sidebar{
    width: 30%;
    overflow-x: hidden;
  }
  .sidebar div a{
    font-weight: 600;
    font-size: 12px;
  }
}
@media (max-width: 576px) {
  .sidebar{
    width: 30%;
    display: none;
  }
}
