.middle-side-header{
  gap: 1rem;
}
.search-box {
  position: relative;
  width: 250px;
}

.search-box input {
  width: 100%;
  height: 3rem;
  padding: 0.5rem 2.5rem 0.5rem 1rem;
   border: 1px solid #ccc;
  border-radius: 8px;
  background-color: white;
}

.icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  stroke: #888;
  cursor: pointer;
}
.bio-data{
  font-family: 'Inter', sans-serif;
  color: white;
}
.main{
  background-color: white;
}
section{
  margin: 0 auto;
  width: 80%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);;
}
.user-top{
  height: 20vh;
  align-items: flex-start;
}
table, thead{
  margin-top: 1.5rem;
  height: auto;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}
thead{
  color: white;
  background-color: #097B48;
  font-family: 'Inter', sans-serif;
  font-weight: 600; 
  height: 3rem;
  padding-left: 10rem;
  text-align: center;
}
tbody tr{
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.25);
  text-align: center;
  height: 4rem;
}
tr td>img{
  width: 3rem;
  height: 3rem;
  border-radius: 10px;
  text-align: center;
}
.add-new-btn{
  color: white;
  background-color: #097B48;
  padding: 1rem 2rem;
  font-weight: 600;
  font-family: 'Inter', sans-serif;
  border: none;
  border-radius: 15px;
}